.order-details table :where( thead, tbody ) td {

  @apply last:w-max ;
}

#root .table-header td {

  @apply bg-[#040818]
    text-septenary
    last:bg-septenary
    last:hover:opacity-80
    transition-all ;
}

#root .table-header td:nth-child( 4 ) {

  @apply bg-quaternary
    text-primary ;
}

#root .table-header button {

  @apply w-full
    h-full
    font-semibold
    text-primary
    text-base
    cursor-pointer
    disabled:cursor-not-allowed
    md:text-sm
    sm:text-xs ;
}
