/* stylelint-disable selector-max-specificity */
.slide {
  transition: 0.6s;

  @apply min-w-[100vw]
    max-h-[30.2rem]
    flex
    flex-wrap
    items-center
    justify-end
    bg-quaternary ;
}

.slide figure img {

  @apply aspect-square w-[30rem] ;
}

.slide-iteractive {

  @apply h-full
    ml-20
    w-96
    bg-secondary
    flex
    flex-col
    justify-end
    border-0
    border-x-2
    border-solid
    border-primary
    items-center ;
}

.slide-info {

  @apply w-full
    mb-40
    flex
    flex-col
    items-center
    justify-center
    gap-1
    text-quaternary
    text-center ;
}

.slide-info span {

  @apply border-y-0
    underline
    underline-offset-4
    font-semibold
    text-4xl ;
}

.slide-info span:last-child {
  -webkit-text-stroke: 0.5px rgb(106, 0, 0);

  @apply text-septenary ;
}

.slide-buttons {

  @apply w-full
    flex
    justify-center
    items-center ;
}

.slide-buttons input {

  @apply w-full
    py-2
    bg-transparent
    border-0
    border-t-2
    border-x-2
    border-solid
    border-primary
    text-center
    text-quaternary
    text-4xl
    font-semibold ;
}

.slide-buttons button {

  @apply w-full
    py-2
    text-center
    text-4xl
    font-bold
    bg-septenary
    border-0
    border-t-2
    border-solid
    border-primary
    cursor-pointer
    last:bg-green-500
    disabled:cursor-not-allowed ;
}

.slider-navigators {

  @apply w-full
    flex
    justify-center
    items-center ;
}

.slider-navigators button {

  @apply w-full
    px-5
    py-3
    flex
    flex-col
    items-center
    justify-center
    font-semibold
    bg-secondary
    border-2
    border-b-0
    border-x-0
    border-solid
    border-primary
    first:border-r-2
    text-primary
    cursor-pointer
    hover:opacity-90
    uppercase
    text-base
    transition-all ;
}

.slides-cart {

  @apply h-full
    w-96
    flex
    flex-col
    justify-between
    items-center
    gap-10
    border-l-0
    border-r-2
    border-r-secondary
    bg-primary
    border-solid
    border-secondary
    border-y-0 ;
}

.slides-cart .cart-items {
  scrollbar-color: #c32334 #c32334;

  @apply w-full
    flex
    flex-col
    justify-start
    items-center
    gap-2
    overflow-y-auto ;
}


.slides-cart .cart-items::-webkit-scrollbar {

  @apply w-1 ;
}

.slides-cart .cart-items::-webkit-scrollbar-track {

  @apply bg-primary ;
}

.slides-cart .cart-items::-webkit-scrollbar-thumb {

  @apply bg-septenary
    rounded-2xl ;
}

.slides-cart .cart-items span {

  @apply w-full
    flex
    border-y-2
    border-x-0
    border-solid
    border-secondary
    text-quaternary
    items-center
    justify-between ;
}

.slides-cart .cart-items span > span {

  @apply h-full
    max-w-[3rem]
    flex
    justify-center
    items-center
    text-white
    border-0
    border-l-2
    border-solid
    border-secondary ;
}

.slides-cart button img {

  @apply aspect-square
    w-10 ;
}

.slides-cart .cart-items img {

  @apply aspect-square
    w-16
    mr-6
    border-0
    border-r-2
    border-solid
    border-secondary ;
}

#cart-empty-ilustration {

  @apply aspect-square
    w-80
    border-none
    m-0 ;
}

.slides-cart .cart-footer {

  @apply w-full
    flex
    flex-wrap
    justify-center
    items-center
    gap-5 ;
}

.slides-cart button {

  @apply relative
    flex
    items-center
    justify-center
    gap-3
    bg-septenary
    py-3
    w-full
    cursor-pointer
    text-lg
    text-primary
    font-semibold
    hover:opacity-90
    transition-all
    disabled:cursor-not-allowed ;
}

#quantity-cart, #price-cart {

  @apply text-quaternary ;
}

#quantity-cart span, #price-cart span {

  @apply text-white ;
}
