.checkout-orders {

  @apply flex
    flex-col
    gap-5
    w-4/5
    lg:w-11/12
    sm:w-full ;
}

.checkout-orders h1 {

  @apply flex
    items-center
    justify-center
    gap-3
    md:text-2xl
    sm:text-xl ;
}

.checkout-orders h1 img {

  @apply aspect-square
    w-10
    sm:w-8 ;
}

.checkout-orders table {

  @apply bg-[#040818]
    border-2
    border-solid
    border-secondary
    rounded-md
    md:text-sm
    sm:text-[11px] ;
}

.checkout-orders table :where( thead, tbody ) {

  @apply text-center ;
}

.checkout-orders table thead {

  @apply font-semibold ;
}

.checkout-orders tfoot tr td {

  @apply py-5
    text-center
    font-semibold ;
}

.checkout-orders table thead td {

  @apply py-2
    first:rounded-tl-md
    last:rounded-tr-md
    bg-secondary
    text-white
    lg:px-2 ;
}

.checkout-orders table tbody td {

  @apply font-medium
    px-2 ;
}

.checkout-orders table :where( thead, tbody ) :is( tr ) {

  @apply bg-secondary
    text-quaternary ;
}

.checkout-orders table :where( thead, tbody ) td {

  @apply py-2
    first:w-[150px]
    last:w-32
    md:first:w-[100px]
    md:last:w-24
    sm:last:w-16 ;
}

#table-product-picture {

  @apply w-28
    md:w-16
    sm:w-10 ;
}

#table-trash-icon {

  @apply aspect-square
    w-10
    cursor-pointer
    hover:w-9
    transition-all
    md:w-7
    md:hover:w-6 ;
}

.checkout-orders table td button {

  @apply bg-transparent ;
}
