/* stylelint-disable font-family-no-missing-generic-family-keyword */

/* stylelint-disable property-no-vendor-prefix */
.login {

  @apply flex
    items-center
    justify-between
    h-[100vh] ;
}

.login-form {
  background-blend-mode: exclusion;
  background-image: url('../../images/nicolas-pereyra-p-jqrltlE0E-unsplash.jpg');
  background-size: cover;
  border: 2px solid;

  @apply w-[60vw]
    h-[100vh]
    bg-primary
    flex flex-col
    items-center
    justify-center
    border-0
    border-r-4
    border-r-tertiary ;
}

.login-form form {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.6);

  @apply w-[26vw]
    p-10
    border-2
    border-quintenary
    text-white
    font-bold
    flex flex-col
    items-center
    justify-center
    rounded-xl ;
}

.login-form form label {

  @apply w-11/12
    flex flex-wrap
    items-center
    text-start mt-5 ;
}


.login-form form label input {
  background: none;
  outline: none;

  @apply my-3
    mx-auto
    py-3
    w-full
    px-10
    border-0
    border-b-2
    border-quaternary
    text-quaternary
    font-semibold
    placeholder:text-quaternary
    placeholder:font-semibold ;
}

.login-form form button {

  @apply bg-quaternary
    opacity-80
    uppercase
    tracking-wider
    mt-10
    mb-5
    w-4/5
    py-3
    rounded-md
    text-black
    font-bold
    transition-all
    cursor-pointer
    hover:opacity-100 ;
}

.login-form form a {

  @apply text-gray-400
    no-underline
    hover:text-white
    hover:underline
    transition-colors ;
}

.login-background {

  @apply w-[40vw]
    h-full
    flex
    flex-col
    justify-center
    items-center ;
}

.login-background h1 {
  font-family: Bree serif;
  text-shadow: 1px 1px 8px #a29264;

  @apply text-7xl
    -mb-20
    font-normal
    text-tertiary ;
}

.login-background figure img {

  @apply aspect-square
    h-[45rem] ;
}
