/* stylelint-disable property-no-vendor-prefix */
.login {
  background: radial-gradient(circle at 10% 60%, rgb(45, 51, 84), black);

  @apply flex
    items-center
    justify-between
    h-[100vh]
    w-full
    overflow-hidden ;
}

.login-branding {
  background-color: burlywood;
  background-image: url('../../images/ilustrations/delivery.svg');
  background-position-x: -40px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 800px;

  @apply flex
    relative
    h-full
    w-[35vw]
    flex-col
    items-center
    justify-center
    gap-8
    pl-16
    overflow-hidden ;
}

.login-branding img {
  animation: fly 110s infinite linear;

  @apply w-[55rem]
    absolute
    aspect-square
    z-10 ;
}

.login-title {

  @apply flex
    flex-col
    justify-center
    items-center ;
}

.login-title img {

  @apply aspect-square
    h-16 ;
}

.container-form {

  @apply w-[65vw]
    relative
    flex
    flex-wrap
    items-center
    justify-center ;
}

.select-form {

  @apply flex
    absolute
    right-0
    w-36
    h-full
    gap-2
    justify-center
    items-center
    flex-col
    rounded-tl-xl
    rounded-bl-xl ;
}

.select-form button {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid burlywood;

  @apply w-16
    flex
    items-center
    justify-start
    gap-5
    text-white
    font-semibold
    rounded-full
    px-5
    py-4
    cursor-pointer
    transition-all
    hover:w-36
    hover:rounded-r-none
    hover:border-r-0 ;
}

.select-form button span {

  @apply hidden
    text-base ;
}

.select-form button:hover span {

  @apply inline ;
}

.login form {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.6);

  @apply w-[24vw]
    p-10
    border-2
    border-quintenary
    text-white
    font-bold
    flex flex-col
    items-center
    justify-center
    rounded-xl ;
}

.login form label {

  @apply w-11/12
    flex flex-wrap
    items-center
    text-start mt-5 ;
}


.login form label input {
  background: none;
  letter-spacing: 1px;
  outline: none;
  text-shadow: 1px 1px 2px black;

  @apply my-3
    mx-auto
    py-3
    w-full
    px-10
    border-0
    border-b-2
    border-quaternary
    text-white
    font-semibold
    placeholder:text-zinc-600
    placeholder:font-semibold ;
}

.login form .btn-primary {

  @apply bg-quaternary
    opacity-80
    uppercase
    tracking-wider
    mt-10
    mb-5
    w-4/5
    py-3
    rounded-md
    text-black
    font-bold
    transition-all
    cursor-pointer
    border-2
    border-quaternary
    hover:opacity-100 ;
}

.login .btn-secondary {
  background: none;
  border: none;

  @apply text-gray-400
    text-sm
    font-semibold
    cursor-pointer
    no-underline
    hover:text-white
    hover:underline
    transition-colors ;
}

.presentation {

  @apply w-full
    flex
    flex-col
    items-center
    justify-center
    gap-4
    mb-10 ;
}

.presentation p {

  @apply text-4xl
    max-w-lg
    text-center
    font-bold
    text-zinc-400 ;
}

.presentation img {

  @apply w-8 ;
}

.presentation h1 {

  @apply text-4xl
    flex
    items-center
    text-center
    gap-1
    font-bold
    text-quaternary ;
}

.login-branding figure img {

  @apply aspect-square
    h-[28rem] ;
}

@keyframes fly {

  from {
    right: -50rem;
  }

  to {
    right: 100%;
  }
}
