/* stylelint-disable property-no-vendor-prefix */
.login {

  @apply flex
    flex-col
    items-center
    justify-center
    h-[100vh] ;
}

.login-form {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.55);

  @apply w-[30vw]
    p-10
    border-2
    border-black
    text-white
    flex flex-col
    items-center
    justify-center
    rounded-xl ;
}

.login-form label {

  @apply w-11/12
    flex flex-wrap
    items-center
    text-start mt-5 ;
}


.login-form label input {
  background: none;

  @apply my-3
    mx-auto
    py-3
    w-full
    px-10
    border-b-2
    border-gray-400 ;
}

.login-form button {

  @apply bg-tertiary
    opacity-80
    hover:opacity-100
    mt-10
    mb-5
    w-4/5
    py-3
    rounded-md
    text-white
    font-bold
    transition-all
    cursor-pointer ;
}

.login-form a {

  @apply text-gray-400
    hover:text-white
    transition-colors ;
}
